body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: darkcyan;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  background-color: bisque;
  width: 100px;
  height: 70px;
  cursor: pointer;
}

.better {
  will-change: transform;
  transition: transform 500ms;
}

.better:hover {
  transform: translateY(5px);
}

.worst {
  will-change: margin-top;
  transition: margin-top 500ms;
}

.worst:hover {
  margin-top: 5px;
}
